<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.db.dao.AccountDb" >

	<insert id="insertAccount" parameterType="com.game.metaxml.Account"  useGeneratedKeys="true" keyProperty="Uin">    
	        insert into account (RoleName,Password) values(#{RoleName},#{Password})    
	</insert>
	
	<insert id="insert" parameterType="com.game.metaxml.Account" useGeneratedKeys="true" keyProperty="Uin">
	    insert into ${table} (${column}) values(${columnData})  
	</insert>  

</mapper>